nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 46, 56);
    padding: 10px;
    padding-inline: 40px;
}

.log {
    background-color: rgb(20, 117, 225);
    border: 0;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
    padding-inline: 20px;
    font-size: large;
}
.yellow{
    color: rgb(55, 115, 218);
}