
#hero{
    width: 100%;
}
body{
    background-image: url(bilder/slots.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.navlinks {
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: visible;
}
a{
    display: inline-block;
    transition: 0.3s ease;
    padding: 10px;
    border-radius: 50%;
}
a:hover{
    background: rgba(255, 200, 0, 0.15);
  box-shadow:
    0 0 10px #ffc800,
    0 0 30px #ffc800,
    0 0 60px #ffc800,
    inset 0 0 20px rgba(255, 200, 0, 0.2);
  text-shadow:
    0 0 8px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}