@import url(https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@400;700&family=Raleway:wght@400;600;700&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

img {
    display: block;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 30px;
    position: sticky;
}
nav a {
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

nav img {
    width: 15%;
}
a{
    display: inline-block;
    transition: 0.3s ease;
    padding: 10px;
    border-radius: 16px;
}
a:hover{
    background: white;
    box-shadow: 0 0 30px rgb(255, 200, 0);
    color: black;
}